@{ 
    ViewBag.Title = "Thank you";
}
<div class="alert alert-success" role="alert">
    Your order has been successfully added!
</div>
<div class="center-block text-lg-center">

    <h1>thank you for the order :D</h1>
    <br />

    <a asp-action="Create" asp-controller="Home" class="btn btn-outline-primary btn-lg">New Order</a>

    <a asp-action="Orders" asp-controller="Home" class="btn btn-outline-info btn-lg">Order Page</a>
</div> 



